<!-- SSP Metadata -->
<title><%= item.title %> · Topic</title>
<meta name="description" value="<%= item.description %>" />
<meta name="author" value="<%= item.author %>" />
<meta name="keywords" value="<%= item.keywords %>" />

<!-- Open Graph data -->
<meta property="og:title" value="<%= item.title %>" />
<meta property="og:type" value="<%= item.type %>" />
<meta property="og:url" value="<%= item.url %>" />

<% if (item.imageUrl) { %>
<meta property="og:image" value="<%= item.imageUrl %>" />
<% } %>

<meta property="og:description" value="<%= item.description %>" />
<meta property="og:site_property" content="Association Topic" />
<meta property="og:site_name" content="Topic" />
<meta property="og:locale" content="fr-FR" />
<% if (item.type === 'article') { %>
  <meta
    property="article:published_time"
    content="<%= item.createdAt %>"
  />
  <meta
    property="article:author"
    content="<%= item.author %>"
  />
  <meta
    property="article:tag"
    content="<%= item.keywords %>"
  />
<% } %>
<% if (item.type === 'group') { %>
  <meta
    property="profile:username"
    content="<%= item.title %>"
  />
<% } %>
<% if (item.type === 'user') { %>
  <meta
    property="profile:username"
    content="<%= item.title %>"
  />
  <% if (item.first) { %>
    <meta
      property="profile:first_name"
      content="<%= item.first %>"
    />
  <% } %>
  <% if (item.last) { %>
    <meta
      property="profile:last_name"
      content="<%= item.last %>"
    />
  <% } %>
<% } %>

<!-- Twitter Card data -->
<meta name="twitter:card" content="<%= item.description %>" />
<meta name="twitter:site" content="@topic_app" />
<meta name="twitter:title" content="<%= item.title %>" />
<meta name="twitter:description" content="<%= item.description %>" />
<meta name="twitter:creator" content="@topic_app" />
<% if (item.imageUrl) { %>
<meta name="twitter:image" content="<%= item.imageUrl %>" />
<% } %>
